<%- include("./parts/header")%>
<%- include("./parts/nav")%>
<div class="auth-body" style="min-height: 64.6vh;">
  <form class="w-100 d-flex align-items-center flex-column  mt-5">
    <h2>login</h2>

    
  
  
     <input type="email" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur email ......." aria-describedby="emailHelp">
    <input type="password" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur password ......." aria-describedby="emailHelp">
    
  <button type="submit" class="btn btn-primary my-2">Login</button>
  <p>you don’t have an accont? <a href="/auth/sign-up" style="text-decoration:none">sign-up</a></p>
</form>
</div>

<%- include("./parts/footer")%>