<%- include("./parts/header")%>
<%- include("./parts/nav")%>

<form style="min-height: 64.6vh;" class="w-100 d-flex align-items-center flex-column  mt-5">
    <h2>sign-up</h2>
  
    
    <input type="text" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur name ......." aria-describedby="emailHelp">
  
     <input type="email" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur email ......." aria-describedby="emailHelp">
    <input type="password" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="enter ur password ......." aria-describedby="emailHelp">
    <input type="password" class="w-75 form-control my-2 text-center " id="exampleInputEmail1" placeholder="confirm ur password ......." aria-describedby="emailHelp">

  <button type="submit" class="btn btn-primary my-2">Signup</button>
  <p>you have an accont? <a href="/auth/login" style="text-decoration:none">login</a></p>
</form>
<%- include("./parts/footer")%>