.footer{

    color: white;
    text-align: center;
    padding: 20px 0;
    /* position: relative; */
    /* bottom: 0;
    left: 0; */
    min-width: 100vw !important;
}
.footer p{
    display: inline;
    
}
.footer h3{
    margin-top: 25px;
}
.footer a{
    text-decoration: none;
    color: white;
}
@media (max-width:776px) {
    .search{
        flex-direction: column;
    }
    .selectt{width: 100% !important ;}
    .formm{width: 100% !important
        ;
    margin-top: 15px;
  
    justify-content: space-between !important;
    }
}
.cartBody{
    width: 100%;
    margin: auto;
    /* background-color: aqua; */
}
.manage{
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.manage button{
    width: 45%;
}
.products{
width:100%;
    margin: auto;
  
}
.mmanage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mmanage button{
    width: 31%;
}
@media (max-width:800px) {
    .cartBody{
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media (max-width:600px) {
    .mmanage{
    display: flex;
     justify-content: space-between;

    flex-direction: column;
}
    .mmanage button{
    display: flex;
    margin-bottom: 2px;
 width: 90%;
 text-align: center;
}
}