<div class="footer bg-primary ">
    <a href=""><p>privacy</p></a>
        |
    <a href=""><p>policy</p></a>
        |
    <a href=""><p>contact</p></a>


  
    
   
    <h3>All rights reserved for &copy; Abu-elmaati co</h3>

</div>
    <script src="/js/jquery.min.js"></script> 
    <script src="/js/popper.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 
</body>
</html>